@import url(vegas.css);




*,
*:after,
*:before {

}

html,
body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
}

h1 {
	position:relative;
	top:-30px;
	color:white;
	font-size: 45px;
    border: 0;
    margin: 0;
}
h3{
	position:relative;
	top:-30px;
	color:white;
	font-size: 20px;

}


.back-img{
	background-image: url("https://ak5.picdn.net/shutterstock/videos/771844/thumb/1.jpg?i10c=img.resize(height:160)");

	background-size: cover;
}
.welcome{
	position:relative;
	top:-30px;
}
.wrapper {
    height:650px;
    width: 100%;
   

}

.welcome-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {

	

	background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;

}
#songs{
	position:relative;
	top:-30px;
}
.fa.disabled {
    color: gray;
}

.main header {
    height: 20px;

    padding: 1rem;
    color: #FFF;
}

.main .content {
    flex:1;

}

.main footer {
	position:relative;
	top:-20px;
    height: 60px;

    padding-top: 1rem;
}

.player-buttons {
    display:flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
	position:relative;
	left:80px;
}

.hidden {
    display: none;
}

.right.floated {
    float: right;
}

.clickable {
    cursor: pointer;
}

.error {
    border: 2px solid red;
}

.progress-wrapper {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-wrapper span {
    color: #959595;
}

.player-progress {
    height: 8px;
    width: 700px;
    background-color: #3d3d3d;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
}

.progress-filled {
    background-color: #959595;
    height: 8px;
    border-radius: 4px;
    width: 0;

}

.main .content {
    width: 800px;
    margin: 2rem auto;
}

.list-headers {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.list-headers > div {
    width: 150px;
    display: inline-block;
}

.list-headers > div:first-child {
    width: 330px;
}

.list-headers > div:last-child {
    text-align: right;
}

.song-list .song {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    min-height: 30px;
    cursor: pointer;
}

.song > span {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    height: 1rem;
}
.song > span:first-child {
    width: 330px;
}

.song .song-duration {
    text-align: right;
}

.song-list .song:hover {
    background-color: #282828;
}


.song-length {
    text-align: right;
}
.content {
    position: relative;
}
.current-song-wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
}

.current-song-image {
    height: 100px;
    width: 100px;
    margin-right: 1rem;
}

.current-song-name {
    font-size: 1.4rem;
    margin-top: 4px;
    margin-bottom: 0;
}

.current-song-artist {
    margin-top: 0.4rem;
}
table.dataTable tbody tr {
    background-color: initial;
}
#songs_info {
    display: none;
}

#songs_filter {
    color: transparent;
}
#songs_filter input {
	outline: none;
	border-radius:10px;
    width: 250px;
    margin-bottom: 1rem;
    font-size: 16px;
	position:relative !important;
	left:170px !important;
	top:-20px !important;
}

.song-list .song{
	cursor:pointer;
}
.player-buttons .fa {
    margin-right: 2rem;
}

.fa.disabled {
    color: gray;
}
#volumeslider{
	position:relative;
	left:-25px;
	top:8px;
	width:80px;

}
#name-input{
	padding:4px;
	outline:none;
}
.go-button{
	padding:4px;
}
svg{
	background-color:none;
}
input[type=range] {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {

  margin-top:-15px;
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;

}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 14px;
  width: 16px;
  border-radius: 78%;
  background:white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
  position:relative;
  top:5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {

    margin-top:-15px;
  width: 100%;
  height:5px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 16px;
  border-radius: 100%;
  background: grey;
  cursor: pointer;
}
input[type=range]::-ms-track {

    margin-top:-15px;
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
.errormessage{
	color:white;
	background-color:darkred;
	border-radius:3px;
	padding:4px;
}